[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccxt = "*"
six = "*"
"discord.py" = "*"
discord = "*"
praw = "*"
asyncpraw = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.8"
